# Stage1

# 1.intro
세계 항공 산업 환경은 코로나19 상황에 따른 채산성 악화와 저가 항공사의 가격 경쟁의 심화 등으로 급속도로 변화하고 있습니다

이러한 환경 속에서 항공사 들은 승객이 항공사를 선택할 때 기준이 되는 고객 만족도를
체계적으로 파악하고 차별화된 서비스 제공을 통해 타 항공사와의 경쟁에서 우위를 선점하기 위한 다양한 전략을 고민하고 있습니다.

더 나은 항공서비스를 위해, 여러가지 요소들을 분석하여 고객의 만족 여부를 
예측 할 수 있는 AI분류 모델을 만들어 보고자 합니다

# 2.프로젝트 배경
항공사 고객만족 예측 프로젝트는 고객님들의 만족도를 예측하여 만족하신 고객님들에게는 이벤트나 일정알림을, 불만족이신 분들에게는 개선방안이나 이용후기같은 내용을 받아 활용하여 더 나은 항공 서비스가 되고자하는 마켓팅 프로젝트입니다

## 기대효과
서비스별 만족도 상승 및 여객들의 수요 증가

매출증가로 인한 타 항공사의 경쟁에서 우위를 점함

# 3.데이터 살펴보기
## 데이터 불러오기
데이터를 분석하기 위해서는 데이터들을 불러와야 하는데 불러와야 할 파일은 총 3가지로
1. train.csv: 데이터 분석 모델을 학습(train)하기 위해 사용하는 데이터 
2. test.csv: 데이터 분석 모델을 통해 정답을 예측하기 위해 사용하는 데이터
3. sample_submission.csv: 예측한 정답 값을 기록하여 제출하기 위한 샘플 정답 파일
입니다.

분석에 사용할 데이터 파일을 불러오기 위해, pandas 패키지가 가지고 있는 `read_csv()` 함수를 사용하겠습니다.

pandas패키지를 사용하고 싶다면 아래와 같은 형식으로 사용해 보세요!
> <font color="green">**"import"**</font> 패키지명 <font color="green">**"as"**</font> 약어"

In [2]:
# 데이터를 불러오고 살펴보기 위한 pandas 라이브러리를 import
import pandas as pd

df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
submission = pd.read_csv('sample_submission.csv')

read_csv() 함수는 ('파일이 있는 위치/파일명.확장자명') 의 형식을 받아 데이터를 불러옵니다.

현재 코드가 실행되고 있는 파일(.ipynb)과 불러오고 싶은 데이터 파일(.csv)은 동일한 위치에 존재합니다.    
이런 경우에 read_csv() 함수는 파일이 있는 위치를 생략하고 (‘파일명.확장자명’) 의 형식을 받아 데이터를 불러올 수 있습니다.

# 데이터 확인하기

자 이제 데이터를 불러왔다면 데이터에 행과 열에 어떠한 값으로 이루어져 있는지 혹은 이상치가 있는지 확인 해봐야 겟지요?? 

 **이상치나 결측치**가 존재하는지 알기 위하여    
**head()**, **info()** 메소드를 활용하는 경우가 많습니다.

- head() : 처음 5행 선택    
\* (숫자)를 넣으면 지정 숫자만큼의 행을 선택할 수 있습니다.

- info() : 데이터 결측치 및 변수들의 타입 확인

한번 실습해 봅시다.

In [3]:
df_train.head(5)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,target
0,1,Female,disloyal Customer,22,Business travel,Eco,1599,3,0,3,...,4,5,4,4,4,5,4,0,0.0,0
1,2,Female,Loyal Customer,37,Business travel,Business,2810,2,4,4,...,5,5,4,2,1,5,2,18,18.0,0
2,3,Male,Loyal Customer,46,Business travel,Business,2622,1,1,1,...,4,4,4,4,5,4,3,0,0.0,1
3,4,Female,disloyal Customer,24,Business travel,Eco,2348,3,3,3,...,3,2,4,5,3,4,3,10,2.0,0
4,5,Female,Loyal Customer,58,Business travel,Business,105,3,3,3,...,4,4,4,4,4,4,5,0,0.0,1

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 3000 non-null   int64
 1   Gender                             3000 non-null   object
 2   Customer Type                      3000 non-null   object
 3   Age                                3000 non-null   int64
 4   Type of Travel                     3000 non-null   object
 5   Class                              3000 non-null   object
 6   Flight Distance                    3000 non-null   int64
 7   Seat comfort                       3000 non-null   int64
 8   Departure/Arrival time convenient  3000 non-null   int64
 9   Food and drink                     3000 non-null   int64
 10  Gate location                      3000 non-null   int64
 11  Inflight wifi service              3000 non-null   int64
 12  Inflight entertainment             3000 non-null   int64
 13  Online support                     3000 non-null   int64
 14  Ease of Online booking             3000 non-null   int64
 15  On-board service                   3000 non-null   int64
 16  Leg room service                   3000 non-null   int64
 17  Baggage handling                   3000 non-null   int64
 18  Checkin service                    3000 non-null   int64
 19  Cleanliness                        3000 non-null   int64
 20  Online boarding                    3000 non-null   int64
 21  Departure Delay in Minutes         3000 non-null   int64
 22  Arrival Delay in Minutes           3000 non-null   float64
 23  target                             3000 non-null   int64
dtypes: float64(1), int64(19), object(4)
memory usage: 562.6+ KB

In [5]:
df_test.head(5)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,Female,Loyal Customer,61,Personal Travel,Eco,2037,1,1,1,...,5,5,5,5,5,3,5,3,51,58.0
1,2,Female,disloyal Customer,27,Business travel,Business,1846,1,1,1,...,1,1,3,4,5,4,4,1,0,0.0
2,3,Female,Loyal Customer,52,Business travel,Business,1622,4,4,4,...,4,5,5,5,5,4,5,3,0,0.0
3,4,Male,Loyal Customer,54,Business travel,Business,3534,4,4,4,...,5,2,2,2,2,5,2,1,0,0.0
4,5,Female,Loyal Customer,41,Business travel,Eco,1471,4,3,3,...,4,4,3,1,2,5,4,4,0,0.0

In [6]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 2000 non-null   int64
 1   Gender                             2000 non-null   object
 2   Customer Type                      2000 non-null   object
 3   Age                                2000 non-null   int64
 4   Type of Travel                     2000 non-null   object
 5   Class                              2000 non-null   object
 6   Flight Distance                    2000 non-null   int64
 7   Seat comfort                       2000 non-null   int64
 8   Departure/Arrival time convenient  2000 non-null   int64
 9   Food and drink                     2000 non-null   int64
 10  Gate location                      2000 non-null   int64
 11  Inflight wifi service              2000 non-null   int64
 12  Inflight entertainment             2000 non-null   int64
 13  Online support                     2000 non-null   int64
 14  Ease of Online booking             2000 non-null   int64
 15  On-board service                   2000 non-null   int64
 16  Leg room service                   2000 non-null   int64
 17  Baggage handling                   2000 non-null   int64
 18  Checkin service                    2000 non-null   int64
 19  Cleanliness                        2000 non-null   int64
 20  Online boarding                    2000 non-null   int64
 21  Departure Delay in Minutes         2000 non-null   int64
 22  Arrival Delay in Minutes           2000 non-null   float64
dtypes: float64(1), int64(18), object(4)
memory usage: 359.5+ KB

In [8]:
submission.head(5)

   id  target
0   1       0
1   2       0
2   3       0
3   4       0
4   5       0

sample_submission데이터를 보면id(회원번호)와 target(만족여부)으로 구성되어있는데 target의 값이 0입니다.

우리는 여기에 true(만족)값을 1 false(불만족)값을 0으로 놓도록 하겠습니다.

In [ ]:
# 데이터를 불러오고 살펴보기 위한 pandas 라이브러리를 import


# df_train ,df_test의객체에 'train.csv' ,'test.csv'파일 불러오기

### Inst.

pandas 패키지를 pd 라는 별칭으로 import 하세요.

read_csv() 메소드를 이용해 train.csv ,test.csv 파일을 각각 df_train ,df_test이라는 이름으로 불러오세요!

### Hint.

pd.read_csv()

### Solution.

import pandas as pd

df_train = pd.read_csv('train.csv')

df_test = pd.read_csv('test.csv')

In [ ]:
#상위 5개의 행 출력해보기

# Inst
.head() 메소드를 사용하면 된다.

# 4. 제출준비하기

아래와 같이 to_csv 메소드를 이용하여 submission을 **submission.csv**로 저장해 제출해봅시다

<font color=red>submission</font><font color=orange>.to_csv</font><font color=black>(</font><font color=green>'beseline.csv',</font><font color=blue>index=False</font><font color=black>)</font>     

각 기능을 색깔로 구별해 보면 아래와 같은데요 </br>     

<font color=red>데이터셋이 있는 객체명</font><font color=orange>.객체가 가지고 있는 csv 파일 생성용 매소드(함수)</font><font color=black>(</font><font color=green>저장할 파일의 이름과 확장자,</font><font color=blue>인덱스를 설정하지 않겠음(False)</font><font color=black>)</font>

In [9]:
submission.to_csv('submission.csv', index=False)

### Inst.

기본적으로 ".to_csv" 메소드는 데이터프레임(ex. submission) 객체의 내용을 csv 파일 형태로 만들어 저장해 주는 기능입니다. </br>
이렇게 해야 비로소 파이썬 안에서 작업한 내용이 파이썬 밖으로 빠져나가 여러분이 만질 수 있는 형태가 되는 거죠. </br>
이처럼 파일을 불러서 처리한 후, 저장하는 일련의 과정을 "데이터 i/o(input/output)를 처리한다" 라고 합니다. </br> 

그럼 to_csv 메소드를 이용하여 submission 객체의 내용을 csv 파일 형태로 만들어 주고,   
index=False를 하여 추가적인 인덱스 설정을 하지 말아 보겠습니다.